<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 오라클 연동을 위한 DataSource <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" 
		id="dataSource"> <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/> 
		<property name="url" value="jdbc:oracle:thin:@192.168.0.200:1521:xe"/> <property 
		name="username" value="user10"/> <property name="password" value="user10"/> 
		</bean> -->

	<!-- MySQL 사용을 위한 설정 -->
	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/sample?useUnicode=true&amp;characterEncoding=utf8" />
		<!-- 이렇게 작성하면 오류 발생안함 <property name="url" value="jdbc:mysql://localhost:3306/sample?useSSL=true&amp;characterEncoding=utf8" />-->
		<property name="username"  value="root" />
		<property name="password"  value="8989450a" />
	</bean>



</beans>
